{% extends "partials/bodytablas.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block tittle %}
Proveedor
{% endblock %}
{% block contenido %}

<div class="container-3">
    <div class=" p-5 w-25 shadow tabla position-absolute top-50 start-50 translate-middle" style="background-color: rgb(219 237 239);">

        <table class="mb-5 table results">
                <thead class="border1 border-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <td scope="col">{{cliente.id}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Nombre de cliente</th>
                        <td scope="col">{{cliente.nombre}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Identificación</th>
                        <td scope="col">{{cliente.identificacion}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Teléfono</th>
                        <td scope="col">{{cliente.telefono}}</td>
                    </tr>
                    <tr>
                        <th scope="col">Estado</th>
                        <td scope="col">{{cliente.estado}}</td>
                    </tr>

                </thead>
        
            </table>
            <div class="ventana">
                <a href="{% url 'persona-cliente' %}" class="btn mt-5 w-3 position-absolute bottom-0 start-50 translate-middle border-dark">Atras</a>
            </div>

    </div>
</div>

{% endblock %}