{% load static %}
    <footer class="w-auto S1">
        <div class="container ">
            <div class="row py-4">
                <div class="col-2 bottom-0 " >
                    <img class="imgLF" src="{% static 'img/logoFooter1.1.png' %}" >
                </div>
                <div class="col-8 d-flex justify-content-center  flex-column  ">
                    <div class="align-self-center py-1">
                        <a href="https://www.facebook.com/Art-macram%C3%A9-Sogamoso-109600445034632" ><i class="btn bi bi-facebook text-light ms-3 fs-4"  title="facebook"></i></a>
                        <a href="https://instagram.com/art_macrame.77?igshid=YmMyMTA2M2Y=" ><i class="btn bi bi-instagram text-light ms-3 fs-4" title="instagram"></i></a>
                    </div>
                    <p class="text-light w-100 text-center text-decoration-none" href="">Boyacá</p>
                    <p class="text-light w-100 text-center">© Copyright 2022</p>
                </div>
                <div class="col-2  d-flex text-center  flex-column  w-50">
                </div>
            </div>
            
            <div>
            
            </div>
        </div>
        
    </footer>
