{% load crispy_forms_tags %}

<div class="ventana">
    <button type="button" class="  btn botonAgregar btn-3"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo"><strong>+ Agregar</strong></button>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title modal-1" id="exampleModalLabel">{{titulo_modal}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body modal-1">
                    <form action="" method="POST">
                      {% csrf_token %}
                      {{ form|crispy }}
                </div>
                <div class="modal-footer">
                  <a href=""><input type="submit" class="btn btn-3" value="Confirmar"></a>
                
                  <!--<input type="submit" class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" value="Agregar"></button>-->
                  <!--<input class="btn btn-success btn-block" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" type="submit" value="Agregar Aprendiz">-->
                </div>
            </div>
          </div>
        </div>
  </div>