<div class="modal fade show" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle"
 style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Preguntas frecuentes</h5>
          <a href="{{action_txt}} "><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
        </div>
        <div class="modal-body">
          
            <div class="desplegable">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          ¿Cómo recuperar tu contraseña?
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">1. Ir a la ventana de iniciar sesión y seleccionar en el enlace inferior izquierdo ¿Olvido su contraseña? <br>
                          2. Ingresa tu dirección de correo electrónico que puso a la hora de registrarse.<br>
                          3. Revisar el correo electrónico en la carpeta de spam.<br>
                          4. Escriba su nueva contraseña y seleccione confirmar.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          ¿Como hacer un nuevo registro en la base de datos?
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">1. Iniciar sesión. <br>
                        2. Seleccionar la tabla en la que quiera agregar el registro.<br> 3. Completa el formulario y seleccione confirmar.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            ¿Cómo editar un registro?
                          </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">1. Tener claro el registro que se quiere editar.<br>
                            2. Entrar a la tabla donde se guardo el dato que se quiere editar. <br> 3. Dirigirse a la columna opsiones y dar click sobre el icono cuadrado con un lápiz. <br> 4. Se vuelve abrir de nuevo el modal y realiza los cambios. <br> 5. Por ultimo dar clickenel botón editar para que los cambios queden guardados. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            ¿Cómo eliminar un registro?
                        </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"> 1. Ubicarse en la columna de opciones en la fila del registro que desea eliminar. <br> 2. Dar click sobre el icino de bote de basura. <br> 3. Se abrira un modal en el cual lo unico que tiene que hacer es dar click sobre el botón eliminar. <br> 4. El registro pasara a un estado de inactivo en la tabla. </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                          ¿Cómo realizar una copia de seguridad?
                      </button>
                      </h2>
                      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">1. Iniciar sesión <br>2. Ir al menú desplegable que se encuentra en la parte superior derecha.<br> 3. Seleccione copia de seguridad. <br>4. Una vez en la ventana de copia de seguridad de click en generar copia.</div>
                      </div>
                  </div>
                          
                  </div>
            </div>
        </div>
      </div>
    </div>
    </div>
          <div class="modal-backdrop fade show"></div>


<!--

<div class="modal fade show" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This is some placeholder content to show the scrolling behavior for modals. We use repeated line breaks to demonstrate how content can exceed minimum inner height, thereby showing inner scrolling. When content becomes longer than the prefedined max-height of modal, content will be cropped and scrollable within the modal.</p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>This content should appear at the bottom after you scroll.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

-->